<mat-toolbar>
  <span>AngularDogs</span>
  <span class="fill-remaining-space" color="accent"></span>
</mat-toolbar>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-add-dog></app-add-dog>
  <app-add-owner></app-add-owner>
  <div class="content-container">
    <div class="form">
        <input type="text" [(ngModel)]="dogName" name="name" placeholder="Dog Name"/>
        <input type="text" [(ngModel)]="dogWeight" name="weight" placeholder="Dog Weight" />
    </div>

    <img class="img-dog" src="{{ imageUrl }}" />
    
  </div>
  